
<div id="saved_section" style="margin-left: 5vw">
<h3>Log your progress for: "<%= activity.activity %>"</h3>

<% logs.forEach(log => { %>
    <h5 style="margin-top: 2rem"><%=log.title%> </h5>
    <p><%=log.content%></p>
    <div class="nav">
           <button class="btn btn-info btn-sm" style="margin-right: 0.2rem">
            <a href="/saved/logs/<%=activity.id%>/<%=log.id%>">edit</a>
          </button>
        </li>
          <form method="POST" action ="/saved/logs/<%=activity.id%>/<%=log.id%>/?_method=DELETE">
            <button class="btn btn-secondary btn-sm" type="submit" style="margin-right: 0.8rem">delete</button>
        </form>
        <small class="text-muted" style="margin-top: 0.6em"><%= moment(log.createdAt).fromNow()%></small>
      </div>
<%})%>


<h4 style="margin-top: 5rem">Add New:</h4>
<form action="/saved/logs/<%=activity.id%>" method="POST" class="row g-3" style="width:50rem">
    <div class="col-12">
      <label for="title:">Title</label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="col-12">
      <label for="content">Content:</label>
      <textarea type="text" class="form-control" name="content" required></textarea>
    </div>
  
    <input type="submit" class="btn btn-primary">
  </form>

</div>

  