
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">View By Status:</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/saved" role="button" data-bs-toggle="dropdown" aria-expanded="false">  
          <%=status%>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/saved/tostart">Not Yet Started</a></li>
                <li><a class="dropdown-item" href="/saved/inprogress">In Progress</a></li>
                <li><a class="dropdown-item" href="/saved/completed">Completed</a></li>
                <li><a class="dropdown-item" href="/saved/all">All</a></li>
                           
            </ul>

    </ul>

</div>
</div>
</nav>

<div id = "content">
    <% if(param === "all" || param === "tostart") { %>
    <% let num=0 %>
    <h4 id="saved_section">Not Yet Started:</h4>
    <% saved.forEach(save => { %>
    <% if(user.id === save.userId) {%>
        <% if(!save.in_progress) {%>
            <div class="accordion accordion-flush" id="accordionFlushExample_<%= num %>">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" aria-expanded= "false" aria-controls="collapseExample_<%= num %>" data-bs-toggle="collapse" data-bs-target="#collapseExample_<%= num %>">
                       <li>"<%= save.activity%>"</li>
                    </button>
                  </h2>
                  <div class="collapse" id="collapseExample_<%= num %>">
                    <div class="accordion-body" style="margin-left:2rem">
                        <div class="nav" style="margin-bottom:-1.5em">
                            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item active"><a aria-current="page"><strong>Mark as</strong></a></li>
                                  <li class="breadcrumb-item">
                                      <form method="POST" action="/saved/<%=save.id%>/?_method=PUT">
                                          <input hidden value="in_progress" name="name">
                                          <button style="margin-top:-3.2em" type="submit" class="btn btn-link">In Progress</button>
                                      </form>
                                  </a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <form method="POST" action="/saved/<%=save.id%>/?_method=PUT">
                                            <input hidden value="completed" name="name">
                                            <button style="margin-top:-3.2em" type="submit" class="btn btn-link">Completed</button>
                                        </form>
                                    </a>
                                    </li>
                                </ol>
                              </nav>        
                        </div>
                        <% if(save.participants > 1) {%>
                            <li>
                                Post in <a href="/feed/new/<%=save.id%>">MeetUp</a>
                            <%}%>
                            
                                  <form method="POST" action ="/saved/<%= save.id%>/?_method=DELETE">
                                      <button style="margin-top:1em" type="submit" class="btn btn-danger btn-sm">delete</button>
                                  </form>
                            </li>
                    </div>
                  </div>
                </div>
        <%}}%> 
        <%num++;%>       
    <%})}%>

    <% if(param === "all" || param === "inprogress") { %>
    <% let num = 0 %>
    <h4 id="saved_section">In Progress:</h4>
    <% saved.forEach(save => { %>
        <% if(user.id === save.userId) {%>
        <% if(save.in_progress && !save.completed) {%>
            <div class="accordion accordion-flush" id="accordionFlushExample_<%= num %>">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" aria-expanded= "false" aria-controls="collapseExample_<%= num %>" data-bs-toggle="collapse" data-bs-target="#collapseExample_<%= num %>">
                        <li><%= save.activity%></li>
                    </button>
                  </h2>
                  <div class="collapse" id="collapseExample_<%= num %>">
                    <div class="accordion-body">                  
                        <div class="nav">
                            <form method="POST" action="/saved/<%=save.id%>/?_method=PUT">
                                <input hidden value="completed" name="name">
                                <button type="submit" class="btn btn-success">completed</button>
                            </form>
                            
                            <form method="POST" action ="/saved/<%= save.id%>/?_method=DELETE">
                                <button type="submit" class="btn btn-danger">delete</button>
                            </form>
                        </div>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item active"><a href="/saved/logs/<%=save.id%>">Log your progress</a></li>
                              <% if(save.participants > 1) {%>
                              <li class="breadcrumb-item active">                
                                  <p>Post in <a href="/feed/new/<%=save.id%>">MeetUp</a></p>
                            </li>
                                  <%}%>
                            </ol>
                          </nav>
                    </div>
                  </div>
                </div>
        <%}}%>   
        <%num++;%>     
    <%})}%>

    <% if(param === "all" || param === "completed") { %>
        <% let num = 0 %>
    <h4 id="saved_section">Completed: </h4>
    <% saved.forEach(save => { %>
        <% if(user.id === save.userId) {%>
        <% if(save.completed) {%>
            <div class="accordion accordion-flush" id="accordionFlushExample_<%= num %>">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" aria-expanded= "false" aria-controls="collapseExample_<%= num %>" data-bs-toggle="collapse" data-bs-target="#collapseExample_<%= num %>">
                      <li><%= save.activity%></li>
                    </button>
                  </h2>
                  <div class="collapse" id="collapseExample_<%= num %>">
                    <div class="accordion-body">
                      <form method="POST" action ="/saved/<%= save.id%>/?_method=DELETE">
                          <button type="submit" class="btn btn-danger">delete</button>
                      </form>
              
                      <nav aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item active"><a href="/reviews/new/<%=save.id%>">Write a review</a></li>
                            <li class="breadcrumb-item active">                
                              <a href="/saved/logs/<%=save.id%>">View logs</a>
                          </li>
                          </ol>
                        </nav>
                    </div>
                  </div>
                </div>
        <%}}%>   
        <%num++;%>     
    <%})}%>
</div>