<h3>Things to do!</h3>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">View By Status:</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/saved" role="button" data-bs-toggle="dropdown" aria-expanded="false">  
          <%=status%>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/saved/tostart">Not Yet Started</a></li>
                <li><a class="dropdown-item" href="/saved/inprogress">In Progress</a></li>
                <li><a class="dropdown-item" href="/saved/completed">Completed</a></li>
                <li><a class="dropdown-item" href="/saved/all">All</a></li>
                           
            </ul>

    </ul>

</div>
</div>
</nav>

<% if(param === "all" || param === "tostart") { %>
<h4>Not Yet Started:</h4>
<% saved.forEach(save => { %>
<% if(user.id === save.userId) {%>
    <% if(!save.in_progress) {%>
        <ul>
        <li><%= save.activity%></li>

        <form method="POST" action="/saved/<%=save.id%>/?_method=PUT">
            <input hidden value="in_progress" name="name">
            <button type="submit">in progress</button>
        </form>
        <form method="POST" action="/saved/<%=save.id%>/?_method=PUT">
            <input hidden value="completed" name="name">
            <button type="submit">completed</button>
        </form>


        <form method="POST" action ="/saved/<%= save.id%>/?_method=DELETE">
            <input type="submit" value="delete">
        </form>
        </ul>
    <%}}%>        
<%})}%>

<% if(param === "all" || param === "inprogress") { %>
<h4>In Progress:</h4>
<% saved.forEach(save => { %>
    <% if(user.id === save.userId) {%>
    <% if(save.in_progress && !save.completed) {%>
        <ul>
        <li><%= save.activity%></li>
        <a href="/saved/logs/<%=save.id%>">Log your progress!</a>
        <form method="POST" action="/saved/<%=save.id%>/?_method=PUT">
            <input hidden value="completed" name="name">
            <button type="submit">completed</button>
        </form>

        <form method="POST" action ="/saved/<%= save.id%>/?_method=DELETE">
            <input type="submit" value="delete">
        </form>
        </ul>
    <%}}%>        
<%})}%>

<% if(param === "all" || param === "completed") { %>
<h4>Completed: </h4>
<% saved.forEach(save => { %>
    <% if(user.id === save.userId) {%>
    <% if(save.completed) {%>
        <ul>
        <li><%= save.activity%></li>
        <form method="POST" action ="/saved/<%= save.id%>/?_method=DELETE">
            <input type="submit" value="delete">
        </form>
        <a href="/recommendations/new/<%=save.id%>">Click to Post recommendation!</a>
        </ul>
    <%}}%>        
<%})}%>

