<head>
    <style>
        body {
            background-image: url("items.jpg");
            background-size: 100% 100%
        }

    </style>
</head>

<div class="d-flex align-items-center justify-content-center" style="height:90vh">
    <% if(user) { %>
        <div class="jumbotron">
            <h3 class="display-4 text-center">
                <%= type %>
            </h3>
            <h4 class="lead text-center">
                "<%= data.activity%>"
            </h4>
            <hr class="my-4">
            <div>
                <ul>Participants: <%= data.participants%>
                </ul>
                <ul>                    
                    Accessibility(scale 0-1)                    
                    <div class="btn-group dropend">
                        <button class="btn dropdown-toggle btn-outline-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .15rem; --bs-btn-font-size: .8rem;">
                        <em>i</em>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item text" >A factor describing how possible an event <br> is to do with zero being the most accessible <br> [0.0,1.0]</a></li>
                        </ul>
                      </div>
                    : <%= data.accessibility%>
                </ul>
                <ul>Price(scale 0-1)
                    <div class="btn-group dropend">
                        <button class="btn dropdown-toggle btn-outline-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .3rem; --bs-btn-font-size: .8rem;">
                          <em>i</em>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item text" >A factor describing the cost of the <br>event with zero being free 0, 1]</a></li>
                        </ul>
                      </div>
                     : <%= data.price%>
                </ul>
                </div>   
                <div class = "d-flex justify-content-center">
                    <div class="nav">
                        <form action="/saved" method="POST">
                            <input hidden value="<%= data.participants%>" name="participants" />
                            <input hidden value="<%= data.accessibility%>" name="accessibility" />
                            <input hidden value="<%= data.price%>" name="price" />
                            <input hidden value="<%= data.activity%>" name="activity" />
                            <input hidden value="<%= type%>" name="type" />
                            <button class="btn btn-primary" type="submit">Add</button>
                
                        </form>
                
                        <form action="/<%=type%>" method="GET">
                            <button class="btn btn-secondary">Next</button>
                        </form>
                    </div>
                    
                </div>            
                <% if(message) { %>
                    <div class="d-flex justify-content-center">
                        <div class="alert alert-success" role="alert">
                            Successfully Saved! See list <a href="/saved/all">here</a> or
                            keep adding to the list
                        </div>
                    </div>
                        <%}%>
                            <%} else {%>
                                <div class="d-flex align-items-center justify-content-center" style="height:90vh">
                                    <h5>
                                        Please <a href="/users/login"> login</a> to your account to continue
                                        <br>Don't have an account yet? <a href="/users/new"> Sign up</a>! 
                                    </h5>
                                </div>
                
                                <%}%>
            </div>
        </div>
    

<footer>
    <small class="text-muted">
        Photo by Dominika Roseclay: https://www.pexels.com/photo/white-board-on-beige-surface-1089842/    
    </small>
</footer>

