<div class="d-flex justify-content-center" style="margin-top: 150px">
    <% if(user) { %>
        <div class="jumbotron">
            <h3 class="display-4 text-center">
                <%= type %>
            </h3>
            <h4 class="lead text-center">
                "<%= data.activity%>"
            </h4>
            <hr class="my-4">
            <div>
                <ul>Participants: <%= data.participants%>
                </ul>
                <ul>                    
                    Accessibility(scale 0-1): <%= data.accessibility%>
                    <div class="btn-group dropend">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          ?
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item text" >A factor describing how possible an event is to do with zero being the most accessible [0.0,1.0]</a></li>
                        </ul>
                      </div>
                    <!-- <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="popover" data-bs-title="Accessibility" data-bs-content="A factor describing how possible an event is to do with zero being the most accessible [0.0,1.0]">?</button>  -->
                </ul>
                <ul>Price(scale 0-1): <%= data.price%>
                </ul>
                </div>   
                <div class = "d-flex justify-content-center">
                    <div class="nav">
                        <form action="/saved" method="POST">
                            <input hidden value="<%= data.participants%>" name="participants" />
                            <input hidden value="<%= data.accessibility%>" name="accessibility" />
                            <input hidden value="<%= data.price%>" name="price" />
                            <input hidden value="<%= data.activity%>" name="activity" />
                            <input hidden value="<%= type%>" name="type" />
                            <button class="btn btn-primary" type="submit">Add</button>
                
                        </form>
                
                        <form action="/<%=type%>" method="GET">
                            <button class="btn btn-secondary">Next</button>
                        </form>
                </div>
                </div>            
            </div>
    
        <% if(message) { %>
            <div class="alert alert-success" role="alert">
                Successfully Saved! See <a href="/saved/all">here</a>.
                Click 'next' to keep going
            </div>
            <%}%>
                <%} else {%>
                    <h4>Please log in to your account!</h4>
    
                    <%}%>
</div>
