<% if(activitytype==="all" ) {%>
<h2>Reviews</h2>
<% } else {%>
    <h3>Reviews for <%= activitytype %></h3>
<%}%>


<a href="/reviews/users/<%=user.id%>">your reviews</a>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">View by Type of Activity:</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <%=activitytype%>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/reviews/education">education</a></li>
                        <li><a class="dropdown-item" href="/reviews/relaxation">relaxation</a></li>
                        <li><a class="dropdown-item" href="/reviews/diy">diy</a></li>
                        <li><a class="dropdown-item" href="/reviews/recreational">recreational</a></li>
                        <li><a class="dropdown-item" href="/reviews/social">social</a></li>
                        <li><a class="dropdown-item" href="/reviews/charity">charity</a></li>
                        <li><a class="dropdown-item" href="/reviews/cooking">cooking</a></li>
                        <li><a class="dropdown-item" href="/reviews/music">music</a></li>
                        <li><a class="dropdown-item" href="/reviews/busywork">busywork</a></li>
                        <li><a class="dropdown-item" href="/reviews/all">all</a></li>
                    </ul>

            </ul>

        </div>
    </div>
</nav>

<div id="saved_section">
    <% if(activitytype==="all" ) {%>
        <% recs.forEach(rec=> {%>
            <div class="d-flex justify-content-center">
                <div class="card" style="width: 60vw;">
                    <div class="card-header">
                        <h5>
                            "<%= rec.activity.activity%>" 
                        </h5>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>
                                "<%= rec.title%>" (rating: <%=rec.rating%>) 
                            </p> 
                            <p class="card-text">
                                <%= rec.resource%> <br>
                                <%= rec.content%>
                            </p>      
                            <div class="d-flex justify-content-end">
                                  <cite title="date">
                                      <small class="text-muted"> 
                                      Posted by: <%= rec.user.name%><br>
                                      <%=  moment(rec.createdAt).fromNow()%></small> 
                                  </cite>                                
                            </div>
                        </div>
                        <%})}%>
                </div>
            </div>
        </div>

    
        <% if(activitytype !== "all" ) {%>
            <% recs.forEach(rec=> {%>
                <% if(activitytype===rec.activity.type) { %>
                    <div class="d-flex justify-content-center">
                        <div class="card" style="width: 60vw;" >
                             <div class="card-header">
                                <h5>
                                "<%= rec.activity.activity%>"  (rating: <%=rec.rating%>) %>
                                </h5>  
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <h5>
                                                "<%= rec.title%>" 
                                            </h5>                    
                                                <%= rec.resource%>
                                                <%= rec.content%>
                                        </li>
                                        <div class="card-footer" style="height: 2.5rem">
                                            <h6>Posted by: <%= rec.user.name%> (<%= moment(rec.createdAt).calendar()%>)</h6>
                                        </div>
                                        <%}})}%>
                                </div>
                            </div>
</div>