<head>
    <style>
        body {
            background-image: url("../image.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%
        }
    </style>
</head>   

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid" style="margin-left: 2vw">
        <a class="navbar-brand" href="#"><h3>Reviews by Category:</h3></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <%=activitytype%>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/reviews/education">education</a></li>
                        <li><a class="dropdown-item" href="/reviews/relaxation">relaxation</a></li>
                        <li><a class="dropdown-item" href="/reviews/diy">diy</a></li>
                        <li><a class="dropdown-item" href="/reviews/recreational">recreational</a></li>
                        <li><a class="dropdown-item" href="/reviews/social">social</a></li>
                        <li><a class="dropdown-item" href="/reviews/charity">charity</a></li>
                        <li><a class="dropdown-item" href="/reviews/cooking">cooking</a></li>
                        <li><a class="dropdown-item" href="/reviews/music">music</a></li>
                        <li><a class="dropdown-item" href="/reviews/busywork">busywork</a></li>
                        <li><a class="dropdown-item" href="/reviews/all">all</a></li>
                    </ul>

            </ul>
            
        </div>
        <li class="nav-link">
            <div class=" d-flex justify-content-end">
                <a class="btn" role="button" href="/reviews/users/<%=user.id%>" style="margin-left:1em"><strong>My Reviews</strong><span class="badge text-bg-warning" style="margin-left:0.2em">
                    <%= userRecs %>
                </span></a>
            </div>
        </li>
    </div>
</nav>

<%if(recs.length !== 0) {%>

    <div id="saved_section">
        <% if(activitytype==="all" ) {%>
            <% recs.forEach(rec=> {%>
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 50vw;">
                        <div class="card-header">
                            <h5>
                                "<%= rec.activity.activity%>" 
                                <small class="d-flex justify-content-end text-muted">
                                    Posted by: <%= rec.user.name%></small>
                            </h5>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <h5>
                                    "<%= rec.title%>" (rating: <%=rec.rating%>) 
                                </h5> 
                            <small class="card-text" style="margin-left: 2rem">
                                <%= rec.resource%> <br></small>
                            <small class="card-text" style="margin-left: 2rem">
                                <%= rec.content%>
                            </small>      
                                <div class="d-flex justify-content-end">
                                      <cite title="date">
                                          <small class="text-muted"> 
                                          <%=  moment(rec.createdAt).fromNow()%></small> 
                                      </cite>                                
                                </div>
                            </div>
                            <%})}%>
                    </div>
                </div>
            </div>
    
        
            <% if(activitytype !== "all" ) {%>
                <% recs.forEach(rec=> {%>
                    <% if(activitytype===rec.activity.type) { %>
                        <div class="d-flex justify-content-center">
                            <div class="card" style="width: 60vw;">
                                <div class="card-header">
                                    <h5>
                                        "<%= rec.activity.activity%>" 
                                        <small class="d-flex justify-content-end text-muted">
                                            Posted by: <%= rec.user.name%></small>
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <h5>
                                            "<%= rec.title%>" (rating: <%=rec.rating%>) 
                                        </h5> 
                                    <small class="card-text" style="margin-left: 2rem">
                                        <%= rec.resource%> <br></small>
                                    <small class="card-text" style="margin-left: 2rem">
                                        <%= rec.content%>
                                    </small>      
                                        <div class="d-flex justify-content-end">
                                              <cite title="date">
                                                  <small class="text-muted"> 
                                                  <%=  moment(rec.createdAt).fromNow()%></small> 
                                              </cite>                                
                                        </div>
                                    </div>
                                    <%}})}%>
                                    </div>
                                </div>
    </div>
<%} else {%>
    <div class="d-flex align-items-center justify-content-center" style ="height: 50vh">
        <h3 style="margin-left: 3vw" id="space">No reviews for "<%=activitytype%> yet!</h3>
</div>   
<%}%>