<a href="/reviews/all">Back</a>
<h4>Reviews Posted by you</h4>


<% if(user) { %>
    <% recs.forEach(rec => { %>
        <h5>For activity: "<%= rec.activity.activity%>"</h5>
        <h5><%= rec.title%> (rating: <%=rec.rating%>)</h5>
        <p><%= rec.content%></p>

        <form method="POST" action ="/recommendations/users/<%= rec.userId%>/<%=rec.activityId%>?_method=DELETE">
            <input type="submit" value="delete post">
        </form>
    <%})}%>