
<div id="saved_section">
    <form method="POST" action="/users/profile/<%=user.id%>/?_method=PUT" class="d-flex justify-content-center">
        <div class="form-group" style="width:25rem">
            <label>Email</label>
            <input class="form-control" value="<%=user.email%>" name="email">
            
            <label for="username">Username</label>
            <input class="form-control" value="<%=user.name%>" name="username">
    
            <label>City</label>
            <input class="form-control" value="<%=user.city%>" name="city">
    
            <label>State</label>
            <input class="form-control" value="<%=user.state%>" name="state">
    
            <label>Photo URL</label>
            <input class="form-control" value="<%=user.photo%>" name="photo">
            <div class="d-flex justify-content-center">
                <button style="margin-top:2em" type="submit" class="btn btn-info">Submit Changes</button>
            </div>
        </div>
    </form>
</div>


