<h2>Welcome <%= user.name%>!</h2>

<img src="../<%=user.photo%>" alt="profileImg" width="300"/>
<p>username: <%= user.name %></p>
<p>email: <%= user.email %></p>
<p>password: *******</p>
<p>city: <%= user.city %></p>
<p>state: <%= user.state %></p>

