<div id="saved_section">

    <div style="margin-left: 20vw">
        <form method="POST" action="/feed/<%=feed.id%>?_method=PUT" class="row g-3" style="width:50rem">
            <div class="col-12">
                    <label>Activity:</label>
                    <input hidden value="<%=feed.userId%>" name="userId">
                    <input class="form-control" disabled type="text" name="activity" value="<%=feed.activity.activity%>">
                </div>
                    <div class="col-md-6">
                    <label>Participants needed:</label>
                    <input class="form-control" disabled type="number" name="participants" value="<%=feed.activity.participants%>">
                    </div>
                    <div class="col-md-6">
                        <label for="status">Status:</label>
                        <select class="form-control" name="status" required>
                            <option value="Open" selected>Open</option>
                            <option value="Closed">Closed</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="city">City:</label>
                        <input class="form-control" type="text" name="city" value="<%=user.city%>">
                    </div>
                    <div class="col-md-6">
                        <label for="state">State:</label>
                        <input class="form-control" type="text" name="state" value="<%=user.state%>">    
                    </div>
                <div class="col-12">
                    <label>Message:</label>
                    <textarea class="form-control" name="content"><%=feed.content%></textarea>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <a href="/feed/users/<%=feed.userId%>" type="button" class="btn btn-secondary">Cancel</a>
                    <button class="btn btn-info" type="submit">Submit Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
