<h4>Invite Others to Your Activity:</h4>
<h5>"<%= activity.activity %>"</h5>

<div style="margin-left: 3rem">
    <form method="POST" action="/feed/<%=activity.id%>" class="row g-3" style="width:50rem">
        <div class="col-12">
                <label>Activity:</label>
                <input hidden value="<%=activity.userId%>" name="userId">
                <input class="form-control" disabled type="text" name="activity" value="<%=activity.activity%>">
            </div>
                <div class="col-md-6">
                <label>Participants needed:</label>
                <input class="form-control" type="number" name="participants" value="<%=activity.participants%>">
                </div>
                <div class="col-md-6">
                    <label for="status">Status:</label>
                    <select class="form-control" name="status" required>
                        <option value="Open" selected>Open</option>
                        <option value="Closed">Closed</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="city">City:</label>
                    <input class="form-control" type="text" name="city" value="<%=user.city%>">
                </div>
                <div class="col-md-6">
                    <label for="state">State:</label>
                    <input class="form-control" type="text" name="state" value="<%=user.state%>">    
                </div>
            <div class="col-12">
                <label>Message:</label>
                <textarea class="form-control" name="content"></textarea>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </div>
    </form>
</div>



