<h2>Invite or Join others</h2>

<h3>Search results for: <%=search%> </h3>
    
    <a href="/feed/users/<%=user.id%>">your posts</a>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid d-flex justify-content-sm-start">
            <a class="navbar-brand">Search By City:</a>
                <form method="GET" action="/feed/all?city=" class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="city">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
    
            </div>
    </nav>
    
  
    <div id="content" style="margin-top: 3vh;">
        <% feeds.forEach(feed => {%>
         <div class="card" style="width: 60vw;">
             <div class="card-body">
               <h5 class="card-title">"<%= feed.activity.activity%>" Status:"<%= feed.status%>"</h5>
               <h6 class="card-subtitle mb-2 text-muted">Location: <%= feed.user.city%>, <%= feed.user.state%> <br># of People: <%= feed.activity.participants%></h6>
               <p class="card-text"><%= feed.content%></p>
               <a href="#" class="card-link">Card link</a>
               <a href="#" class="card-link">Another link</a>
               <small class="text-muted">Posted by: <%= feed.user.name%> (<%= moment(feed.createdAt).fromNow()%>)</small>
             </div>
           </div>
         <% comments.forEach(comment => {%>
             <% if(feed.id === comment.feedId) { %>
                 <%=comment.user.name%>: <%=comment.content%>
             <%}%>
         
         <%})%>
         <form method="POST" action="/feed/comments/<%=feed.id%>" class="form-inline">
             <input hidden value="<%=user.id%>" name="userId">
             <label for="content"><%=user.name%>:</label>
             <input name="content" type="text" placeholder="leave a comment">
             <button type="submit">submit</button>
         </form>
         <%})%>

 </div>
  