     

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <div class="d-flex justify-content-start">
                <h3 style="margin-left: 2vw">MeetUp</h3>
                 <a class="navbar-brand" style="margin-left: 2rem">Search By City:</a>
                    <form method="GET" action="/feed/all?city=" role="search" class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="city">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
            </div>
              <li class="nav-link">
                <div class="d-flex justify-content-end">
                    <a class="btn" role="button" href="/feed/users/<%=user.id%>"><strong>My Posts</strong><span class="badge text-bg-warning">
                        <%=userFeeds%>
                    </span></a>
                </div>
            </li>
        </div>
    </nav>
    
  <div id="content" style="margin-top: 3vh;">
         <% feeds.forEach(feed => {%>
          <div class="card" style="width: 50vw;">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title">"<%= feed.activity.activity%>"</h5>
                    <h5 class="card-title">Status: <%= feed.status%></h4>
                </div>
                 <div style="margin-top: 0.5em">
                    <h6 class="card-subtitle mb-2" style="margin-left: 2em">Location: <%= feed.user.city%>, <%= feed.user.state%> <br>Looking for: <%= feed.activity.participants%> People</h6>
                    <p class="card-text" style="margin-left:2em"><%= feed.content%></p>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <a class="btn" role="button" href="#">View Comments</strong><span class="badge text-bg-warning" style="margin-left:0.1rem">
                  <% let commentArr = [] %>
                  <%feed.comments.forEach(comment =>{%>
                      <%commentArr.push(comment.id)%>
                  <%})%>
                  <%=commentArr.length%>
              </span></a>
              <small class="text-muted">Posted by: <%= feed.user.name%> (<%= moment(feed.createdAt).fromNow()%>)</small>
            </div>
            </div>
          <% comments.forEach(comment => {%>
              <% if(feed.id === comment.feedId) { %>
                  <%=comment.user.name%>: <%=comment.content%>
              <%}%>
          
          <%})%>
          <form method="POST" action="/feed/comments/<%=feed.id%>" class="form-inline">
              <input hidden value="<%=user.id%>" name="userId">
              <label for="content"><%=user.name%>:</label>
              <input name="content" type="text" placeholder="leave a comment">
              <button type="submit">submit</button>
          </form>
          <%})%>

  </div>
    
  